* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: normal;
    font-size: 20px;
}

window#waybar {
    background-color: #282828;
    color: #ebdbb2;
}

#waybar > box > box > widget > * {
    background-color: #282828;
    color: #ebdbb2;
    border-radius: 2px;
    margin: 2px 5px;
    padding: 2px 5px;
}

#workspaces button {
    all: initial;
    padding: 4px 10px;
    margin: 4px 2px;
    border-radius: 7px;
    color: #ebdbb2;
}

#workspaces button.active,
#workspaces button:hover {
    color: #282828;
    background-color: #ebdbb2;
}

#workspaces button.urgent {
    background-color: #cc241d;
    color: #fbf1c7;
}

tooltip {
    border-radius: 0px;
    padding: 5px;
    background-color: #282828;
}
