* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: normal;
    font-size: 20px;
}

window#waybar {
    background-color: #282828;
    color: #ebdbb2;
}

#waybar > box > box > widget > * {
    background-color: #282828;
    color: #ebdbb2;
    border-radius: 2px;
    margin: 2px 5px;
    padding: 2px 5px;
}

#workspaces button {
    all: initial;
    padding: 2px 7px;
    margin: 2px 2px;
    color: #928374; 
    transition: all 0.2s ease;
}

#workspaces button.active {
    color: #ebdbb2; 
    font-weight: bold;
    background-color: transparent;
}

#workspaces button:hover {
    color: #ebdbb2;
}

#workspaces button.urgent {
    color: #fb4934;
}

tooltip {
    border-radius: 0px;
    padding: 5px;
    background-color: #282828;
}
